openapi: 3.0.1

info:
  title: APIs Frete Rápido - Embarcador
  version: 1.0.0
  description: >
    API oficial da Frete Rápido para integração com e-commerces e ERPs.
  contact:
    name: Frete Rápido
    url: https://freterapido.com.br
servers:
  - url: https://api.freterapido.com
    description: Servidor de Produção
  - url: https://api.homolog-freterapido.com
    description: Servidor de Homologação
x-logo:
  url: https://freterapido.com.br/wp-content/uploads/2023/11/logo-teste-2-768x168.png
  altText: Logo Frete Rápido
  
paths:
  /external/shipper/v1/check-status:
    post:
      summary: Informações da Empresa
      description: >
        Permite verificar se as credenciais (CNPJ e código da plataforma) são válidas junto à API da Frete Rápido.
      operationId: verificarCredenciais
      tags:
        - Verificação de Credenciais
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cnpj
                - codigo_plataforma
              properties:
                cnpj:
                  type: string
                  description: CNPJ cadastrado na Frete Rápido (sem formatação)
                  example: "12345678000199"
                codigo_plataforma:
                  type: string
                  description: Código único da sua plataforma (solicite à Frete Rápido)
                  example: "meucodigo01"
      responses:
        '200':
          description: Requisição bem-sucedida
          content:
            application/json:
              schema:
                type: object
                properties:
                  bloqueio:
                    type: boolean
                    description: True se o acesso estiver bloqueado
                    example: true
                  saldo:
                    type: integer
                    description: Quantidade de envios disponíveis
                    example: 0
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
  
  /external/shipper/v1/shipping-options:
    get:
      summary: Informações da Empresa 
      description: >
        Permite consultar todas as opções de entrega disponíveis para um embarcador na Frete Rápido.
      tags:
        - Opções / Métodos de Entrega
      responses:
        '200':
          description: Lista de transportadoras com suas opções de entrega disponíveis
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    cnpj:
                      type: string
                      example: "12345678000199"
                    razao_social:
                      type: string
                      example: "Transportadora XYZ Ltda"
                    nome_fantasia:
                      type: string
                      example: "TransXYZ"
                    inscricao_estadual:
                      type: string
                      example: "123456789"
                    registro_antt:
                      type: string
                      example: "ANTT123456"
                    opcoes_entrega:
                      type: array
                      items:
                        type: object
                        properties:
                          hash:
                            type: string
                            example: "hash123abc"
                          cnpj_ponto_coleta:
                            type: string
                            example: "98765432000100"
                          versao:
                            type: string
                            example: "v1.2"
                          tipo:
                            type: integer
                            enum: [1, 2]
                            description: 1 = Fracionada; 2 = Lotação
                          tipo_destinatario:
                            type: integer
                            enum: [1, 2, 3]
                            description: 1 = Pessoa Física; 2 = Pessoa Jurídica; 3 = Ambos
                          validade_oferta:
                            type: integer
                            example: 30
                          validade:
                            type: string
                            format: date-time
                            example: "2025-12-31 23:59:59"
                          pais:
                            type: string
                            example: "Brasil"
                          servico:
                            type: string
                            example: "Entrega Expressa"
                          codigo_servico:
                            type: string
                            nullable: true
                            example: "EXP123"
                          cep_origem:
                            type: string
                            example: "01001000"
                          reversa:
                            type: boolean
                            example: false
                          observacao:
                            type: string
                            example: "Disponível apenas em dias úteis"
                          tipos_carga:
                            type: array
                            items:
                              type: object
                              properties:
                                codigo:
                                  type: integer
                                  example: 1
                                tipo_carga:
                                  type: string
                                  example: "Carga Seca"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /quote/v3/simulate:
    post:
      summary: Cotações de Frete
      description: >
        Realiza cotações de frete com múltiplas origens (expedidores) utilizando o motor de cotação v3 da Frete Rápido.
      tags:
        - Cotações de Frete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shipper:
                  type: object
                  required: [registered_number, platform_code]
                  properties:
                    registered_number:
                      type: string
                      example: "12345678000199"
                    platform_code:
                      type: string
                      example: "plataforma_exemplo"
                recipient:
                  type: object
                  required: [type, country, zipcode]
                  properties:
                    type:
                      type: integer
                      enum: [0, 1]
                      description: 0 = Pessoa Física; 1 = Pessoa Jurídica
                    registered_number:
                      type: string
                      example: "98765432100"
                    state_inscription:
                      type: string
                      example: "ISENTO"
                    country:
                      type: string
                      example: "BRA"
                    zipcode:
                      type: integer
                      example: 12345678
                dispatchers:
                  type: array
                  items:
                    type: object
                    required: [registered_number, zipcode, volumes]
                    properties:
                      registered_number:
                        type: string
                        example: "12345678000199"
                      zipcode:
                        type: integer
                        example: 87654321
                      total_price:
                        type: number
                        format: float
                        example: 199.90
                      volumes:
                        type: array
                        items:
                          type: object
                          required: [amount, category, height, width, length, unitary_price, unitary_weight]
                          properties:
                            amount:
                              type: integer
                              example: 2
                            category:
                              type: string
                              example: "eletronico"
                            sku:
                              type: string
                              example: "SKU123"
                            tag:
                              type: string
                              example: "PROMO2025"
                            description:
                              type: string
                              example: "Notebook 15 polegadas"
                            height:
                              type: number
                              format: float
                              example: 0.1
                            width:
                              type: number
                              format: float
                              example: 0.3
                            length:
                              type: number
                              format: float
                              example: 0.4
                            unitary_price:
                              type: number
                              format: float
                              example: 1500.0
                            unitary_weight:
                              type: number
                              format: float
                              example: 2.5
                            consolidate:
                              type: boolean
                              example: false
                            overlaid:
                              type: boolean
                              example: false
                            rotate:
                              type: boolean
                              example: false
                            amount_volumes:
                              type: integer
                              example: 1
                channel:
                  type: string
                  example: "ecommerce"
                filter:
                  type: integer
                  enum: [1, 2, 3]
                limit:
                  type: integer
                  example: 10
                identification:
                  type: string
                  example: "pedido-1234"
                reverse:
                  type: boolean
                  example: false
                simulation_type:
                  type: array
                  items:
                    type: integer
                    enum: [0, 1]
                  example: [0]
                returns:
                  type: object
                  properties:
                    composition:
                      type: boolean
                      example: true
                    volumes:
                      type: boolean
                      example: true
                    applied_rules:
                      type: boolean
                      example: false
      responses:
        '200':
          description: Resposta com as ofertas disponíveis por expedidor
          content:
            application/json:
              schema:
                type: object
                properties:
                  dispatchers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        request_id:
                          type: string
                        registered_number_shipper:
                          type: string
                        registered_number_dispatcher:
                          type: string
                        zipcode_origin:
                          type: integer
                        offers:
                          type: array
                          items:
                            type: object
                            properties:
                              offer:
                                type: integer
                              simulation_type:
                                type: integer
                              carrier:
                                type: object
                                properties:
                                  reference:
                                    type: integer
                                  name:
                                    type: string
                                  registered_number:
                                    type: string
                                  state_inscription:
                                    type: string
                                  logo:
                                    type: string
                              service:
                                type: string
                              final_price:
                                type: number
                                format: float
                              cost_price:
                                type: number
                                format: float
                              delivery_time:
                                type: object
                                properties:
                                  days:
                                    type: integer
                                  estimated_date:
                                    type: string
                                    format: date
                              expiration:
                                type: string
                                format: date-time
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /external/shipper/v1/multiorigin/quote:
    post:
      summary: Cotação de Frete Avançada
      description: >
        Realiza cotações de frete com múltiplas origens, verificando o melhor centro de expedição de acordo com as regras escolhidas e estoque disponível.
      tags:
        - Cotação de Frete Avançada
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shipper:
                  type: object
                  required: [registered_number, platform_code]
                  properties:
                    registered_number:
                      type: string
                      example: "12345678000199"
                    platform_code:
                      type: string
                      example: "plataforma_exemplo"
                recipient:
                  type: object
                  required: [type, country, zipcode]
                  properties:
                    type:
                      type: integer
                      enum: [0, 1]
                      description: 0 = Pessoa Física; 1 = Pessoa Jurídica
                    registered_number:
                      type: string
                      example: "98765432100"
                    state_inscription:
                      type: string
                      example: "ISENTO"
                    country:
                      type: string
                      example: "BRA"
                    zipcode:
                      type: integer
                      example: 12345678
                dispatchers:
                  type: array
                  items:
                    type: object
                    required: [registered_number, zipcode, volumes]
                    properties:
                      registered_number:
                        type: string
                        example: "12345678000199"
                      zipcode:
                        type: integer
                        example: 87654321
                      total_price:
                        type: number
                        format: float
                        example: 199.90
                      volumes:
                        type: array
                        items:
                          type: object
                          required: [amount, category, height, width, length, unitary_price, unitary_weight]
                          properties:
                            amount:
                              type: integer
                              example: 2
                            category:
                              type: string
                              example: "eletronico"
                            sku:
                              type: string
                              example: "SKU123"
                            tag:
                              type: string
                              example: "PROMO2025"
                            description:
                              type: string
                              example: "Notebook 15 polegadas"
                            height:
                              type: number
                              format: float
                              example: 0.1
                            width:
                              type: number
                              format: float
                              example: 0.3
                            length:
                              type: number
                              format: float
                              example: 0.4
                            unitary_price:
                              type: number
                              format: float
                              example: 1500.0
                            unitary_weight:
                              type: number
                              format: float
                              example: 2.5
                            consolidate:
                              type: boolean
                              example: false
                            overlaid:
                              type: boolean
                              example: false
                            rotate:
                              type: boolean
                              example: false
                            amount_volumes:
                              type: integer
                              example: 1
                channel:
                  type: string
                  example: "ecommerce"
                filter:
                  type: integer
                  enum: [1, 2, 3]
                limit:
                  type: integer
                  example: 10
                identification:
                  type: string
                  example: "pedido-1234"
                reverse:
                  type: boolean
                  example: false
                simulation_type:
                  type: array
                  items:
                    type: integer
                    enum: [0, 1]
                  example: [0]
                returns:
                  type: object
                  properties:
                    composition:
                      type: boolean
                      example: true
                    volumes:
                      type: boolean
                      example: true
                    applied_rules:
                      type: boolean
                      example: false
      responses:
        '200':
          description: Resposta com as ofertas disponíveis por expedidor
          content:
            application/json:
              schema:
                type: object
                properties:
                  dispatchers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        request_id:
                          type: string
                        registered_number_shipper:
                          type: string
                        registered_number_dispatcher:
                          type: string
                        zipcode_origin:
                          type: integer
                        offers:
                          type: array
                          items:
                            type: object
                            properties:
                              offer:
                                type: integer
                              simulation_type:
                                type: integer
                              carrier:
                                type: object
                                properties:
                                  reference:
                                    type: integer
                                  name:
                                    type: string
                                  registered_number:
                                    type: string
                                  state_inscription:
                                    type: string
                                  logo:
                                    type: string
                              service:
                                type: string
                              final_price:
                                type: number
                                format: float
                              cost_price:
                                type: number
                                format: float
                              delivery_time:
                                type: object
                                properties:
                                  days:
                                    type: integer
                                  estimated_date:
                                    type: string
                                    format: date
                              expiration:
                                type: string
                                format: date-time
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /external/shipper/v1/quote/ecommerce/{token_oferta}/offer/{oferta}:
    post:
      summary: Contratação de Frete
      description: >
        Realiza a contratação de frete com base em uma simulação anterior realizada via API de cotação.
        Os dados do remetente, destinatário e (opcionalmente) do expedidor devem ser fornecidos.
        O envio da nota fiscal é opcional, mas necessário para rastreamento com a transportadora.
      tags:
        - Contratação de Frete
      parameters:
        - name: token_oferta
          in: path
          required: true
          description: Token identificador da simulação de frete.
          schema:
            type: string
            example: "5fd26cfe2d5b8a0024dd79c9"
        - name: oferta
          in: path
          required: true
          description: Identificador da oferta escolhida na cotação.
          schema:
            type: integer
            example: 123456
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                remetente:
                  type: object
                  required: [cnpj]
                  properties:
                    cnpj:
                      type: string
                      example: "12345678000199"
                expedidor:
                  type: object
                  properties:
                    cnpj:
                      type: string
                      example: "12345678000199"
                    razao_social:
                      type: string
                      example: "Filial SP Ltda"
                    inscricao_estadual:
                      type: string
                      example: "110042490114"
                    endereco:
                      type: object
                      properties:
                        cep:
                          type: string
                          example: "04534011"
                        rua:
                          type: string
                          example: "Av. Brigadeiro Faria Lima"
                        numero:
                          type: string
                          example: "1000"
                        bairro:
                          type: string
                          example: "Itaim Bibi"
                        complemento:
                          type: string
                          example: "10º andar"
                destinatario:
                  type: object
                  required: [cnpj_cpf, nome, endereco]
                  properties:
                    cnpj_cpf:
                      type: string
                      example: "98765432100"
                    inscricao_estadual:
                      type: string
                      example: "ISENTO"
                    nome:
                      type: string
                      example: "Cliente Exemplo"
                    email:
                      type: string
                      example: "cliente@exemplo.com.br"
                    telefone:
                      type: string
                      example: "11999999999"
                    endereco:
                      type: object
                      required: [cep, rua, numero, bairro]
                      properties:
                        cep:
                          type: string
                          example: "30130010"
                        rua:
                          type: string
                          example: "Rua da Bahia"
                        numero:
                          type: string
                          example: "2000"
                        bairro:
                          type: string
                          example: "Funcionários"
                        complemento:
                          type: string
                          example: "Apto 202"
                        cidade:
                          type: string
                          example: "Belo Horizonte"
                        estado:
                          type: string
                          example: "MG"
                metadados:
                  type: array
                  items:
                    type: object
                    properties:
                      chave:
                        type: string
                        example: "pedido_loja"
                      valor:
                        type: string
                        example: "LOJA-123"
                numero_pedido:
                  type: string
                  example: "123456"
                data_pedido:
                  type: string
                  format: date-time
                  example: "2025-05-23 14:00:00"
                data_faturamento:
                  type: string
                  format: date-time
                  example: "2025-05-24 08:30:00"
                prazo_entrega_consumidor:
                  type: string
                  format: date-time
                  example: "2025-05-30 23:59:59"
                forma_pagamento:
                  type: string
                  example: "cartao_credito"
                obs_cliente:
                  type: string
                  example: "Entregar no horário comercial"
                valor_frete_cobrado:
                  type: number
                  format: float
                  example: 29.90
                nota_fiscal:
                  type: array
                  items:
                    type: object
                    required: [numero, serie, cfop, quantidade_volumes, chave_acesso, valor, valor_itens, data_emissao, tipo_operacao, tipo_emissao, protocolo_autorizacao]
                    properties:
                      numero:
                        type: string
                        example: "1000"
                      serie:
                        type: string
                        example: "1"
                      cfop:
                        type: string
                        example: "5102"
                      quantidade_volumes:
                        type: string
                        example: "1"
                      chave_acesso:
                        type: string
                        example: "35210412345678000123550010000010011000010012"
                      valor:
                        type: number
                        format: float
                        example: 150.0
                      valor_itens:
                        type: number
                        format: float
                        example: 150.0
                      data_emissao:
                        type: string
                        format: date-time
                        example: "2025-05-24 08:00:00"
                      tipo_operacao:
                        type: integer
                        enum: [0, 1]
                        example: 1
                      tipo_emissao:
                        type: integer
                        enum: [1, 2, 3, 4, 5]
                        example: 1
                      protocolo_autorizacao:
                        type: string
                        example: "135200000000000"
                data_coleta:
                  type: string
                  format: date
                  example: "2025-05-25"
                canal:
                  type: string
                  example: "ecommerce"
                subcanal:
                  type: string
                  example: "app"
      responses:
        '200':
          description: Sucesso na contratação do frete
          content:
            application/json:
              schema:
                type: object
                properties:
                  id_frete:
                    type: string
                    example: "FR2112026BGG1"
                  rastreio:
                    type: string
                    example: "https://ondeestameupedido.com.br/FR2112026BGG1"
                  data_contratacao:
                    type: string
                    format: date-time
                    example: "2021-12-02 15:26:00"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
  
  /external/shipper/v1/order-import:
    post:
      summary: Contratação de Frete 
      description: >
        Importa os dados de um pedido, realiza a cotação e contratação do frete automaticamente.
        A regra de contratação deve ser informada via campo `type_hiring`. O envio da nota fiscal é opcional, mas necessário para rastreio.
      tags:
        - Importação de Pedido
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shipper:
                  type: object
                  required: [registered_number, platform_code]
                  properties:
                    registered_number:
                      type: string
                      example: "12345678000199"
                    platform_code:
                      type: string
                      example: "plataforma_xpto"
                recipient:
                  type: object
                  required: [type, registered_number, name, address]
                  properties:
                    type:
                      type: integer
                      enum: [0, 1]
                      description: 0 = Pessoa Física, 1 = Pessoa Jurídica
                    registered_number:
                      type: string
                      example: "98765432100"
                    state_inscription:
                      type: string
                      example: "ISENTO"
                    name:
                      type: string
                      example: "João da Silva"
                    email:
                      type: string
                      example: "cliente@email.com"
                    phone:
                      type: string
                      example: "11999999999"
                    address:
                      type: object
                      required: [zipcode, street, number, neighborhood, country]
                      properties:
                        zipcode:
                          type: string
                          example: "30130010"
                        street:
                          type: string
                          example: "Rua A"
                        number:
                          type: string
                          example: "123"
                        neighborhood:
                          type: string
                          example: "Centro"
                        complement:
                          type: string
                          example: "Apto 101"
                        country:
                          type: string
                          example: "BRA"
                        city:
                          type: string
                          example: "Belo Horizonte"
                        state:
                          type: string
                          example: "MG"
                dispatcher:
                  type: object
                  required: [registered_number, name, state_inscription, address]
                  properties:
                    registered_number:
                      type: string
                      example: "12345678000199"
                    state_inscription:
                      type: string
                      example: "110042490114"
                    name:
                      type: string
                      example: "Filial SP Ltda"
                    address:
                      type: object
                      required: [zipcode, street, number, neighborhood]
                      properties:
                        zipcode:
                          type: string
                          example: "04534011"
                        street:
                          type: string
                          example: "Av. Faria Lima"
                        number:
                          type: string
                          example: "1000"
                        neighborhood:
                          type: string
                          example: "Itaim Bibi"
                        complement:
                          type: string
                          example: "10º andar"
                volumes:
                  type: array
                  items:
                    type: object
                    required: [amount, category, height, width, length, unitary_price, unitary_weight]
                    properties:
                      amount:
                        type: integer
                        example: 1
                      category:
                        type: string
                        example: "eletronico"
                      sku:
                        type: string
                        example: "SKU123"
                      tag:
                        type: string
                        example: "PROMO2025"
                      description:
                        type: string
                        example: "Notebook 15 polegadas"
                      height:
                        type: number
                        format: float
                        example: 0.1
                      width:
                        type: number
                        format: float
                        example: 0.3
                      length:
                        type: number
                        format: float
                        example: 0.4
                      unitary_price:
                        type: number
                        format: float
                        example: 1500.0
                      unitary_weight:
                        type: number
                        format: float
                        example: 2.5
                      consolidate:
                        type: boolean
                        example: false
                      overlaid:
                        type: boolean
                        example: false
                      rotate:
                        type: boolean
                        example: false
                      amount_volumes:
                        type: integer
                        example: 1
                metadata:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        example: "pedido_loja"
                      value:
                        type: string
                        example: "12345"
                carrier:
                  type: object
                  properties:
                    name:
                      type: string
                      example: "Transportadora XPTO"
                    registered_number:
                      type: string
                      example: "12345678000199"
                    service:
                      type: string
                      example: "EXPRESSA"
                    service_description:
                      type: string
                      example: "Entrega expressa"
                not_quote:
                  type: boolean
                  example: false
                delivery_time:
                  type: integer
                  example: 5
                original_delivery_time:
                  type: integer
                  example: 7
                type_hiring:
                  type: integer
                  enum: [1, 2, 3]
                  example: 1
                  description: 1 = menor preço, 2 = menor prazo, 3 = mesma transportadora
                total_price:
                  type: number
                  format: float
                  example: 199.90
                channel:
                  type: string
                  example: "ecommerce"
                subchannel:
                  type: string
                  example: "mobile"
                identification:
                  type: string
                  example: "pedido-xyz"
                order_number:
                  type: string
                  example: "123456"
                parent_order_number:
                  type: string
                  example: "123"
                order_date:
                  type: string
                  format: date-time
                  example: "2025-05-23 14:00:00"
                invoiced_date:
                  type: string
                  format: date-time
                  example: "2025-05-24 08:30:00"
                collection_date:
                  type: string
                  format: date
                  example: "2025-05-25"
                delivery_date:
                  type: string
                  format: date-time
                  example: "2025-05-30 23:59:59"
                payment_type:
                  type: string
                  example: "boleto"
                notes:
                  type: string
                  example: "Entregar no horário comercial"
                freight_value:
                  type: number
                  format: float
                  example: 29.90
                invoice:
                  type: array
                  items:
                    type: object
                    required: [number, serie, key, amount_volumes, total_value, items_value, issue_date]
                    properties:
                      number:
                        type: string
                        example: "1000"
                      serie:
                        type: string
                        example: "1"
                      key:
                        type: string
                        example: "35210412345678000123550010000010011000010012"
                      amount_volumes:
                        type: string
                        example: "1"
                      total_value:
                        type: number
                        format: float
                        example: 150.0
                      items_value:
                        type: number
                        format: float
                        example: 150.0
                      issue_date:
                        type: string
                        format: date-time
                        example: "2025-05-24 08:00:00"
      responses:
        '200':
          description: Pedido importado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  freight_id:
                    type: string
                    example: "FR211104KGVOR"
                  tracking_url:
                    type: string
                    example: "https://ondeestameupedido.com.br/FR211104KGVOR"
                  hired_date:
                    type: string
                    format: date-time
                    example: "2025-05-24 15:26:00"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /external/shipper/v1/quotes/{freight_id}/offers:
    get:
      summary: Listagens de Frete
      description: >
        Consulta as ofertas de frete disponíveis para o ID do frete informado.
      tags:
        - Consultar ofertas do frete
      parameters:
        - name: freight_id
          in: path
          required: true
          description: ID do frete a ser consultado
          schema:
            type: string
            example: "FR211104KGVOR"
      responses:
        '200':
          description: Lista de ofertas do frete
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    offer:
                      type: integer
                      example: 1
                      description: Posição da oferta
                    registered_number:
                      type: string
                      example: "12345678000199"
                      description: CNPJ da transportadora
                    name:
                      type: string
                      example: "Transportadora XPTO"
                      description: Nome da transportadora
                    service:
                      type: string
                      example: "EXPRESSA"
                      description: Serviço retornado
                    service_description:
                      type: string
                      nullable: true
                      example: "Entrega expressa no próximo dia útil"
                      description: Descrição do serviço retornado
                    delivery_time:
                      type: integer
                      example: 3
                      description: Prazo estimado para entrega (dias)
                    estimated_date:
                      type: string
                      format: date
                      example: "2025-05-27"
                      description: Data de entrega estimada
                    expiration:
                      type: string
                      format: date
                      example: "2025-05-25"
                      description: Data de expiração da oferta
                    cost_price:
                      type: number
                      format: float
                      example: 50.00
                      description: Preço de custo do frete
                    final_price:
                      type: number
                      format: float
                      example: 55.00
                      description: Preço final do frete (com regras aplicadas)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
          
  /external/shipper/v1/quotes/{freight_id}/offer:
    patch:
      summary: Edição de Frete 
      description: >
        Permite trocar a oferta de um determinado frete informando a posição da nova oferta.
      tags:
        - Trocar oferta de um frete
      parameters:
        - name: freight_id
          in: path
          required: true
          description: ID do frete a ser consultado
          schema:
            type: string
            example: "FR211104KGVOR"
        - name: offer
          in: query
          required: true
          description: Posição da oferta a ser contratada
          schema:
            type: integer
            example: 2
      responses:
        '200':
          description: Status da alteração da oferta
          content:
            application/json:
              schema:
                type: object
                properties:
                  change:
                    type: boolean
                    example: true
                    description: Indica se a alteração da oferta foi realizada com sucesso
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /external/shipper/v1/quotes/{freight_id}/update-carrier:
    patch:
      summary: Edição de Frete  
      description: Permite alterar a transportadora de um pedido importado sem recotar o frete.
      tags:
        - Alterar transportadora de pedido importado sem cotação
      parameters:
        - name: freight_id
          in: path
          required: true
          description: ID do frete a ser consultado
          schema:
            type: string
            example: "FR211104KGVOR"
      requestBody:
        description: Dados da nova transportadora, prazo de entrega e preço total do pedido
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - carrier
                - delivery_time
                - total_price
              properties:
                carrier:
                  type: object
                  required:
                    - service
                  properties:
                    name:
                      type: string
                      description: >
                        Nome da transportadora, obrigatório se registered_number não for informado.
                      example: "Transportadora Exemplo"
                    registered_number:
                      type: string
                      description: >
                        CNPJ da transportadora, obrigatório se name não for informado.
                      example: "00000000000000"
                    service:
                      type: string
                      description: Serviço utilizado na comparação para contratação.
                      example: "Serviço de entrega expressa"
                delivery_time:
                  type: integer
                  description: Prazo de entrega em dias
                  example: 5
                total_price:
                  type: number
                  format: float
                  description: Preço total do pedido
                  example: 150.75
      responses:
        '204':
          description: Alteração realizada com sucesso.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /external/shipper/v1/quotes/{freight_id}/update-email-recipient:
    patch:
      summary: Edição de Frete   
      description: Método para incluir ou atualizar o e-mail do destinatário do frete.
      tags:
        - Alterar e-mail do destinatário do frete
      parameters:
        - name: freight_id
          in: path
          required: true
          description: ID do frete a ser consultado
          schema:
            type: string
            example: "FR211104KGVOR"
      requestBody:
        description: Objeto contendo o novo e-mail do destinatário
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - recipient
              properties:
                recipient:
                  type: object
                  required:
                    - email
                  properties:
                    email:
                      type: string
                      format: email
                      description: Endereço de e-mail do destinatário
                      example: "email@email.com"
      responses:
        '204':
          description: E-mail alterado com sucesso
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /external/shipper/v1/quotes/{freight_id}/invoices:
    post:
      summary: Contratação de Frete 
      description: >
        Este método permite informar os dados de nota fiscal do pedido que originou o frete,
        indispensáveis para rastreamento junto às transportadoras.
      tags:
        - Envio dos dados da Nota Fiscal do pedido
      parameters:
        - name: freight_id
          in: path
          required: true
          description: Identificador do frete contratado na Frete Rápido
          schema:
            type: string
            example: "FR211104KGVOR"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - nota_fiscal
              properties:
                nota_fiscal:
                  type: array
                  description: Lista de notas fiscais relacionadas ao frete
                  items:
                    type: object
                    required:
                      - numero
                      - serie
                      - cfop
                      - chave_acesso
                      - quantidade_volumes
                      - valor
                      - valor_itens
                      - data_emissao
                      - tipo_operacao
                      - tipo_emissao
                      - protocolo_autorizacao
                    properties:
                      numero:
                        type: string
                        description: Número da Nota Fiscal
                        example: "123456"
                      serie:
                        type: string
                        description: Série da Nota Fiscal
                        example: "1"
                      cfop:
                        type: string
                        description: CFOP predominante da Nota Fiscal
                        example: "5102"
                      chave_acesso:
                        type: string
                        description: Chave da Nota Fiscal
                        example: "35180212345678901234550010000000011000000000"
                      quantidade_volumes:
                        type: integer
                        description: Quantidade de volumes da Nota Fiscal
                        example: 1
                      valor:
                        type: number
                        format: float
                        description: Valor total da Nota Fiscal
                        example: 1500.75
                      valor_itens:
                        type: number
                        format: float
                        description: Valor total dos itens da Nota Fiscal
                        example: 1450.00
                      data_emissao:
                        type: string
                        format: date-time
                        description: Data de emissão da Nota Fiscal (YYYY-MM-DD HH:mm:ss)
                        example: "2019-02-15 13:40:00"
                      tipo_operacao:
                        type: integer
                        description: Tipo de operação da Nota Fiscal (0 = Entrada, 1 = Saída)
                        enum: [0, 1]
                        example: 1
                      tipo_emissao:
                        type: integer
                        description: Tipo de emissão da Nota Fiscal
                        enum: [1, 2, 3, 4, 5]
                        example: 1
                      protocolo_autorizacao:
                        type: string
                        description: Protocolo de autorização da Nota Fiscal
                        example: "123456789012345"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /external/shipper/v1/quotes/invoices:
    delete:
      summary: Edição de Frete
      description: >
        Método responsável por deletar uma nota fiscal cadastrada na Frete Rápido.
      tags:
        -  Deletar uma nota fiscal cadastrada
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id_frete
                - chave_nf
              properties:
                id_frete:
                  type: string
                  description: Identificador do frete contratado na Frete Rápido
                  example: "FR211104KGVOR"
                chave_nf:
                  type: string
                  description: Chave da Nota Fiscal a ser deletada
                  example: "35180212345678901234550010000000011000000000"
      responses:
        '200':
          description: Nota fiscal deletada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  id_frete:
                    type: string
                    description: Identificador do frete
                    example: "FR211104KGVOR"
                  chave_acesso:
                    type: string
                    description: Chave da Nota Fiscal deletada
                    example: "35180212345678901234550010000000011000000000"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /external/shipper/v1/quotes/{identificador}/occurrences:
    get:
      summary: Listagens de Frete 
      description: >
        Permite consultar todas as ocorrências de rastreio de um frete, apresentadas por ordem de acontecimento.
        Pode-se informar o identificador do frete ou o número do pedido.
      tags:
        - Consultar ocorrências de rastreio de um frete
      parameters:
        - name: identificador
          in: path
          description: Identificador do frete contratado ou número do pedido
          required: true
          schema:
            type: string
            example: "FR211104KGVOR"
        - name: codigo_volume
          in: query
          description: Código de rastreio do volume (opcional, filtra os dados do volume especificado)
          required: false
          schema:
            type: string
            example: "VOL1234567890"
      responses:
        '200':
          description: Lista de ocorrências do frete
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    codigo:
                      type: string
                      description: Código numérico da ocorrência na Frete Rápido
                      example: "0"
                    data_ocorrencia:
                      type: string
                      format: date-time
                      description: Data da ocorrência
                      example: "2023-05-20 14:30:00"
                    data_atualizacao:
                      type: string
                      format: date-time
                      description: Data de atualização da ocorrência
                      example: "2023-05-20 15:00:00"
                    data_reentrega:
                      type: string
                      format: date
                      description: Data em caso de nova tentativa de entrega
                      example: "2023-05-22"
                      nullable: true
                    data_prevista_entrega:
                      type: string
                      format: date
                      description: Data prevista de entrega calculada no ato da cotação
                      example: "2023-05-25"
                      nullable: true
                    prazo_devolucao:
                      type: string
                      description: Quantidade de dias úteis para devolução da carga
                      example: "5"
                      nullable: true
                    mensagem:
                      type: string
                      description: Mensagem da transportadora
                      example: "Entrega realizada com sucesso"
                      maxLength: 255
                      nullable: true
                    razao_social_transportadora:
                      type: string
                      description: Razão social da transportadora na ocorrência
                      example: "Transportadora Exemplo LTDA"
                      maxLength: 255
                    descricao_ocorrencia:
                      type: string
                      description: Descrição da ocorrência na transportadora
                      example: "Encomenda entregue"
                      maxLength: 255
                      nullable: true
                    codigo_ocorrencia:
                      type: integer
                      description: Código da ocorrência na transportadora
                      example: 1234
                      nullable: true
                    nome_entregador:
                      type: string
                      description: Nome do entregador responsável
                      example: "João da Silva"
                      maxLength: 50
                      nullable: true
                    cnpj_cpf_entregador:
                      type: string
                      description: CNPJ/CPF do entregador
                      example: "12345678901"
                      maxLength: 14
                      nullable: true
                    comprovantes:
                      type: array
                      description: Comprovantes da ocorrência
                      items:
                        type: string
                      nullable: true
                    codigos_redespacho:
                      type: array
                      description: Códigos de redespacho da ocorrência
                      items:
                        type: string
                      nullable: true
                    nome:
                      type: string
                      description: Nome da ocorrência
                      example: "Entrega"
                    codigo_volume:
                      type: string
                      description: Código de rastreio do volume
                      example: "VOL1234567890"
                      nullable: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      summary: Edição de Frete
      description: >
        Permite atualizar o status de um frete contratado na Frete Rápido por meio do envio de uma nova ocorrência.
        Importante: Não é possível retroceder no fluxo de entrega (ex: de "Entregue" para "Em trânsito").
      operationId: alterarOcorrenciaFrete
      tags:
        - Alterar Ocorrências de Frete
      parameters:
        - name: identificador
          in: path
          required: true
          schema:
            type: string
          description: Identificador do frete contratado (id_frete ou numero_pedido)
          example: "FR123456789"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - occurrence
                - date_time
              properties:
                occurrence:
                  type: integer
                  description: Código da ocorrência conforme tabela da Frete Rápido
                  example: 0
                date_time:
                  type: string
                  format: date-time
                  description: Data e hora da ocorrência (formato YYYY-MM-DD hh:mm:ss)
                  example: "2021-02-11 15:26:00"
                message:
                  type: string
                  maxLength: 255
                  description: Mensagem de até 255 caracteres
                  example: "Entrega realizada com sucesso"
                receipts:
                  type: array
                  description: Lista de URLs com comprovantes da ocorrência
                  items:
                    type: string
                    format: uri
                    example: "https://www.freterapido.com/comprovantes/entrega/1.jpg"
      responses:
        '200':
          description: Ocorrência registrada com sucesso
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /external/shipper/v1/quotes/occurrences/invoices:
    get:
      summary: Listagens de Frete 
      description: >
        Permite consultar todas as ocorrências de rastreio de um frete através do número e série ou da chave de acesso da nota fiscal.
        É permitido informar até 50 notas fiscais.
      tags:
        - Consultar ocorrências de rastreio por notas fiscais
      parameters:
        - name: invoices
          in: query
          description: >
            Array JSON com notas fiscais contendo número e série ou chave de acesso. Até 50 itens.
            Exemplo: [{"key":""},{"number":"1234","serie":"1"}]
          required: true
          schema:
            type: string
            example: '[{"key":"12345678901234567890123456789012345678901234"},{"number":"1234","serie":"1"}]'
        - name: codigo_volume
          in: query
          description: Código de rastreio do volume (opcional)
          required: false
          schema:
            type: string
            example: "VOL1234567890"
      responses:
        '200':
          description: Lista de ocorrências por nota fiscal
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties:
                    type: object
                    properties:
                      invoices:
                        type: array
                        description: Lista de notas fiscais relacionadas ao frete
                        items:
                          type: object
                          properties:
                            number:
                              type: string
                              description: Número da nota fiscal
                              example: "1234"
                            serie:
                              type: string
                              description: Série da nota fiscal
                              example: "1"
                            key:
                              type: string
                              description: Chave de acesso da nota fiscal
                              example: "12345678901234567890123456789012345678901234"
                      occurrences:
                        type: array
                        description: Lista de ocorrências do frete
                        items:
                          type: object
                          properties:
                            code:
                              type: integer
                              description: Código numérico da ocorrência na Frete Rápido
                              example: 0
                            name:
                              type: string
                              description: Nome da ocorrência
                              example: "Entrega"
                            occurrence_date:
                              type: string
                              format: date-time
                              description: Data da ocorrência
                              example: "2023-05-20 14:30:00"
                            updated_date:
                              type: string
                              format: date-time
                              description: Data de atualização da ocorrência
                              example: "2023-05-20 15:00:00"
                            attempted_redelivery_date:
                              type: string
                              format: date
                              description: Data da nova tentativa de entrega (se houver)
                              example: "2023-05-22"
                              nullable: true
                            expected_delivery_date:
                              type: string
                              format: date
                              description: Data prevista de entrega
                              example: "2023-05-25"
                              nullable: true
                            return_deadline_date:
                              type: string
                              description: Quantidade de dias úteis para devolução (se houver)
                              example: "5"
                              nullable: true
                            message:
                              type: string
                              maxLength: 255
                              description: Mensagem da transportadora (se houver)
                              example: "Entrega realizada com sucesso"
                              nullable: true
                            codigo_volume:
                              type: string
                              description: Código de rastreio do volume (se houver)
                              example: "VOL1234567890"
                              nullable: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /external/shipper/v1/quotes/occurrences/interval:
    post:
      summary: Listagens de Frete  
      description: >
        Permite consultar as ocorrências de um frete dentro de um período especificado.
        O intervalo entre data_inicio e data_fim deve ser no máximo 4 horas.
        Limite de 500 fretes por requisição.
      tags:
        - Consultar ocorrências de fretes dentro de um intervalo de tempo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data_inicio:
                  type: string
                  format: date-time
                  description: Data de início da ocorrência (YYYY-MM-DD hh:mm)
                  example: "2023-05-20 10:00"
                data_fim:
                  type: string
                  format: date-time
                  description: Data final da ocorrência (YYYY-MM-DD hh:mm)
                  example: "2023-05-20 14:00"
                codigo_volume:
                  type: string
                  description: Código de rastreio do volume (opcional)
                  example: "VOL1234567890"
              required:
                - data_inicio
                - data_fim
      responses:
        '200':
          description: Lista de ocorrências no período especificado
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties:
                    type: array
                    items:
                      type: object
                      properties:
                        codigo:
                          type: integer
                          description: Código da ocorrência
                          example: 1
                        status:
                          type: string
                          description: Status da ocorrência
                          example: "Em trânsito"
                        data_ocorrencia:
                          type: string
                          format: date-time
                          description: Data da ocorrência
                          example: "2023-05-20 11:15:00"
                        data_atualizacao:
                          type: string
                          format: date-time
                          description: Data de atualização da ocorrência
                          example: "2023-05-20 11:30:00"
                        data_reentrega:
                          type: string
                          format: date
                          description: Data em caso de nova tentativa de entrega
                          example: "2023-05-22"
                          nullable: true
                        data_prevista_entrega:
                          type: string
                          format: date
                          description: Data prevista de entrega
                          example: "2023-05-25"
                          nullable: true
                        prazo_devolucao:
                          type: string
                          description: Quantidade de dias úteis para devolução da carga
                          example: "5"
                          nullable: true
                        mensagem:
                          type: string
                          maxLength: 255
                          description: Mensagem da transportadora
                          example: "Entrega prevista para o dia 25/05"
                          nullable: true
                        codigo_volume:
                          type: string
                          description: Código de rastreio do volume
                          example: "VOL1234567890"
                          nullable: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /external/shipper/v1/quotes/occurrences:
    post:
      summary: Listagens de Frete  
      description: >
        Permite consultar todas as ocorrências de rastreio de vários fretes.
        As ocorrências são apresentadas por ordem de acontecimento.
        Limite de 100 fretes por requisição.
      tags:
        - Consultar ocorrências de rastreio de vários fretes em lote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fretes:
                  type: array
                  description: Lista de identificadores dos fretes (id_frete)
                  items:
                    type: string
                    minLength: 13
                    maxLength: 13
                  example:
                    - "FR11111111111"
                    - "FR22222222222"
              required:
                - fretes
      responses:
        '200':
          description: Ocorrências retornadas com sucesso
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    type: object
                    properties:
                      codigo:
                        type: integer
                        description: Código numérico da ocorrência na Frete Rápido
                        example: 1
                      data_ocorrencia:
                        type: string
                        format: date-time
                        description: Data da ocorrência
                        example: "2023-05-20 11:15:00"
                      data_atualizacao:
                        type: string
                        format: date-time
                        description: Data de atualização da ocorrência
                        example: "2023-05-20 11:30:00"
                      data_reentrega:
                        type: string
                        format: date
                        description: Data em caso de nova tentativa de entrega
                        example: "2023-05-22"
                        nullable: true
                      data_prevista_entrega:
                        type: string
                        format: date
                        description: Data prevista de entrega
                        example: "2023-05-25"
                        nullable: true
                      prazo_devolucao:
                        type: string
                        description: Quantidade de dias úteis para devolução da carga/mercadoria
                        example: "5"
                        nullable: true
                      mensagem:
                        type: string
                        maxLength: 255
                        description: Mensagem livre para informação pela transportadora
                        example: "Entrega prevista para o dia 25/05"
                        nullable: true
                      razao_social_transportadora:
                        type: string
                        maxLength: 255
                        description: Razão social da transportadora na ocorrência
                        example: "Transportadora XPTO Ltda"
                      descricao_ocorrencia:
                        type: string
                        maxLength: 255
                        description: Descrição da ocorrência na transportadora no momento da atualização
                        example: "Carga embarcada no caminhão"
                        nullable: true
                      codigo_ocorrencia:
                        type: integer
                        description: Código da ocorrência na transportadora
                        example: 123
                        nullable: true
                      nome_entregador:
                        type: string
                        maxLength: 50
                        description: Nome do entregador responsável pela ocorrência
                        example: "João da Silva"
                        nullable: true
                      cnpj_cpf_entregador:
                        type: string
                        maxLength: 14
                        description: CNPJ/CPF do entregador responsável
                        example: "12345678901"
                        nullable: true
                      comprovantes:
                        type: array
                        description: Comprovantes da ocorrência
                        items:
                          type: string
                        example: []
                        nullable: true
                      codigos_redespacho:
                        type: array
                        description: Códigos de redespacho da ocorrência
                        items:
                          type: string
                        example: []
                        nullable: true
                      nome:
                        type: string
                        description: Nome da ocorrência
                        example: "Em trânsito"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /external/shipper/v1/quote/find:
    get:
      summary: Listagens de Frete
      description: >
        Permite consultar as informações de um frete específico utilizando um identificador único,
        que pode ser o número do pedido ou dados da NF-e. Em caso de múltiplos fretes com o mesmo
        número de pedido, retorna o frete mais recente. Busca pela NF-e prioriza chave de acesso,
        depois número e série. Retorna os dados disponíveis do frete.
        
        **Observação:** Deve ser informado apenas um identificador único por requisição.
      tags:
        - Consultar informações de um determinado frete por múltiplos parâmetros
      parameters:
        - name: order_number
          in: query
          description: Número do pedido contratado na Frete Rápido
          schema:
            type: string
          required: false
        - name: parent_order_number
          in: query
          description: Número do pedido pai de um frete contratado na Frete Rápido
          schema:
            type: string
          required: false
        - name: invoice_key
          in: query
          description: Chave de acesso da nota fiscal
          schema:
            type: string
            pattern: '^\d+$'
          required: false
        - name: invoice_number
          in: query
          description: Número da nota fiscal
          schema:
            type: string
            pattern: '^\d+$'
          required: false
        - name: invoice_serie
          in: query
          description: Série da nota fiscal (Obrigatório se informado invoice_number)
          schema:
            type: string
            pattern: '^\d+$'
          required: false
        - name: codigo_volume
          in: query
          description: Código de rastreio do volume (retorna dados do volume especificado)
          schema:
            type: string
          required: false
      responses:
        '200':
          description: Dados do frete consultado retornados com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  id_frete:
                    type: string
                    description: Identificador do frete contratado na Frete Rápido
                    example: "FR12345678901"
                  url_rastreio:
                    type: string
                    description: URL de rastreio do frete contratado
                    example: "https://freterapido.com/rastreamento/FR12345678901"
                  numero_pedido_pai:
                    type: string
                    description: Número do pedido pai na loja
                    example: "PED12345"
                  numero_pedido:
                    type: string
                    description: Número do pedido na loja
                    example: "PED67890"
                  data_pedido:
                    type: string
                    format: date-time
                    description: Data de criação do pedido na loja
                    nullable: true
                    example: "2024-05-15 14:30:00"
                  data_faturamento:
                    type: string
                    format: date-time
                    description: Data de faturamento do pedido na loja
                    nullable: true
                    example: "2024-05-16 10:00:00"
                  data_prevista_entrega:
                    type: string
                    format: date
                    description: Data prevista de entrega (referência)
                    nullable: true
                    example: "2024-05-20"
                  forma_pagamento:
                    type: string
                    description: Forma de pagamento do pedido
                    nullable: true
                    example: "Cartão de crédito"
                  obs_cliente:
                    type: string
                    description: Observação do cliente sobre o pedido
                    nullable: true
                    example: "Por favor, entregar após 18h"
                  data_contratacao:
                    type: string
                    format: date-time
                    description: Data e hora da contratação do frete
                    example: "2024-05-15 15:00:00"
                  tipo_cobranca:
                    type: string
                    description: Tipo de cobrança selecionado para o frete (CIF ou FOB)
                    example: "CIF"
                  modal:
                    type: string
                    description: Modalidade do frete (Rodoviário, Aéreo)
                    example: "Rodoviário"
                  data_coleta:
                    type: string
                    format: date
                    description: Data de possível coleta informada pelo remetente
                    nullable: true
                    example: "2024-05-16"
                  referencia_tabela:
                    type: string
                    description: Referência da tabela
                    example: "Tabela 123"
                  embarcador:
                    type: object
                    description: Dados do endereço do remetente
                    properties:
                      cnpj:
                        type: string
                        description: CNPJ do remetente da carga
                        example: "12345678000195"
                      inscricao_estadual:
                        type: string
                        description: Inscrição estadual do remetente
                        example: "123456789"
                      razao_social:
                        type: string
                        description: Razão social do remetente
                        example: "Empresa XYZ Ltda"
                      nome_fantasia:
                        type: string
                        description: Nome fantasia do remetente
                        example: "XYZ Transportes"
                      endereco:
                        type: object
                        properties:
                          rua:
                            type: string
                            example: "Rua das Flores"
                          numero:
                            type: string
                            example: "123"
                          complemento:
                            type: string
                            nullable: true
                            example: "Sala 1"
                          bairro:
                            type: string
                            example: "Centro"
                          cidade:
                            type: string
                            example: "São Paulo"
                          estado:
                            type: string
                            example: "SP"
                          cep:
                            type: string
                            example: "01234-567"
                  estimated_date:
                    type: string
                    format: date
                    description: Prazo de entrega original devolvido pela transportadora na cotação
                    nullable: true
                    example: "2024-05-22"
                  prazo_original_transportador:
                    type: string
                    format: date
                    description: Prazo original contado a partir da coleta/postagem
                    nullable: true
                    example: "2024-05-23"
                  destinatario:
                    type: object
                    description: Dados do destinatário da carga
                    properties:
                      cnpj_cpf:
                        type: string
                        description: CNPJ ou CPF do destinatário
                        example: "98765432000199"
                      nome:
                        type: string
                        description: Nome ou razão social do destinatário
                        example: "Cliente ABC Ltda"
                      endereco:
                        type: object
                        properties:
                          rua:
                            type: string
                            example: "Av. Brasil"
                          numero:
                            type: string
                            nullable: true
                            example: "456"
                          complemento:
                            type: string
                            nullable: true
                            example: "Apto 101"
                          bairro:
                            type: string
                            nullable: true
                            example: "Jardim"
                          cidade:
                            type: string
                            example: "Rio de Janeiro"
                          estado:
                            type: string
                            example: "RJ"
                          cep:
                            type: string
                            example: "23456-789"
                  expedidor:
                    type: object
                    description: Dados do expedidor (opcional)
                    nullable: true
                    properties:
                      cnpj:
                        type: string
                        example: "11223344000155"
                      inscricao_estadual:
                        type: string
                        example: "987654321"
                      razao_social:
                        type: string
                        example: "Expedidor LTDA"
                      nome_fantasia:
                        type: string
                        example: "Expedidor Fantasia"
                      endereco:
                        type: object
                        properties:
                          rua:
                            type: string
                            example: "Rua do Expedidor"
                          numero:
                            type: string
                            example: "789"
                          complemento:
                            type: string
                            nullable: true
                            example: "Galpão 2"
                          bairro:
                            type: string
                            example: "Industrial"
                          cidade:
                            type: string
                            example: "Belo Horizonte"
                          estado:
                            type: string
                            example: "MG"
                          cep:
                            type: string
                            example: "34567-890"
                  volumes:
                    type: array
                    description: Lista dos volumes informados no frete
                    items:
                      type: object
                      properties:
                        tipo:
                          type: string
                          description: Tipo do volume informado
                          example: "Caixa"
                        sku:
                          type: string
                          nullable: true
                          example: "SKU1234"
                        descricao:
                          type: string
                          nullable: true
                          example: "Caixa com produtos eletrônicos"
                        quantidade:
                          type: integer
                          example: 6
                        peso_total:
                          type: number
                          format: float
                          example: 3.0
                        valor_total:
                          type: number
                          format: float
                          example: 120.00
                        altura:
                          type: number
                          format: float
                          example: 0.5
                        largura:
                          type: number
                          format: float
                          example: 0.4
                        comprimento:
                          type: number
                          format: float
                          example: 0.6
                  transportadora:
                    type: object
                    description: Dados da transportadora
                    properties:
                      cnpj:
                        type: string
                        example: "55443322000166"
                      razao_social:
                        type: string
                        example: "Transportadora XPTO Ltda"
                      nome_fantasia:
                        type: string
                        example: "XPTO Transportes"
                      inscricao_estadual:
                        type: string
                        example: "123456789"
                      servico:
                        type: string
                        example: "Entrega Expressa"
                      valor_cotado:
                        type: number
                        format: float
                        example: 150.75
                      endereco:
                        type: object
                        properties:
                          cep:
                            type: string
                            example: "45678-901"
                          bairro:
                            type: string
                            example: "Centro"
                          rua:
                            type: string
                            example: "Rua da Transportadora"
                          numero:
                            type: string
                            nullable: true
                            example: "1000"
                          complemento:
                            type: string
                            nullable: true
                            example: "Andar 5"
                          cidade:
                            type: string
                            example: "Curitiba"
                          estado:
                            type: string
                            example: "PR"
                  codigos:
                    type: object
                    properties:
                      correios:
                        type: array
                        items:
                          type: string
                        nullable: true
                        example: ["ABC123456789BR"]
                      transportadora:
                        type: array
                        items:
                          type: string
                        nullable: true
                        example: ["TRK123456"]
                      redespacho:
                        type: array
                        items:
                          type: string
                        nullable: true
                        example: ["RED123456"]
                  ultimo_status:
                    type: object
                    properties:
                      codigo:
                        type: integer
                        example: 101
                      descricao:
                        type: string
                        example: "Em trânsito"
                      data:
                        type: string
                        format: date-time
                        example: "2024-05-17T09:30:00"
                  historico_status:
                    type: array
                    description: Histórico de status do frete
                    items:
                      type: object
                      properties:
                        codigo:
                          type: integer
                          example: 100
                        descricao:
[...]
